@model Foothill.Models.Cinema
@{
    ViewBag.Title = "MovieInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3><strong>@Model.Name</strong> ( <a href="/Movies/Edit/@Model.Id">Edit</a> )</h3>
<hr />
<div class="container">

    <div class="row">

        <ul>
            <li> Release Info : @Model.ReleaseDate.ToString("d MMM yyyy") </li>
            <li>Type : @Model.Genre.Name</li>
            <li>Library Added Date : @Model.CreatedDt.ToString("d MMM yyyy")</li>
            <li>In Stock : @Model.InStock</li>
        </ul>

    </div>

</div>

