@model Foothill.Models.Cinema
@{
    ViewBag.Title = "MovieInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3><strong>@Model.Name</strong></h3>
<hr />
<div class="container">

    <div class="row">

        <ul>
            <li> Release Info : @Model.Day / @Model.Month / @Model.Year </li>
            <li>Type : @Model.Genre.Name</li>
            <li>Library Added Date : @Convert.ToDateTime(Model.CreatedDt).ToShortDateString()</li>
            <li>In Stock : @Model.InStock</li>
        </ul>

    </div>

</div>

